&__heading {
    line-height: 45px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    max-width: 350px;
    padding-top: 70px;
    
    @media screen and (min-width: 768px) {
        font-size: 40px;
        letter-spacing: 2.5px;
        max-width: none;
        padding-top: 175px;

    }

    @media screen and (min-width: 1600px) {
        line-height: 1.3;
        margin-bottom: 10px;
        font-size: 50px;
    }
}